.idea
node_modules
.sass-cache
npm-debug.log
*.sublime-project
*.sublime-workspace



!public/assets/css
public/assets/css/*
!public/assets/css/reset.css
!public/assets/css/sim-0.0.1.min.css


!public/assets/js
public/assets/js/*


!public/assets/icons
public/assets/icons/*

